@font-face {
	font-family: 'Facundo';
	src: local('Facundo Regular'), local('Facundo-Regular'),
			url('../assets/fonts/Facundo-Regular.woff2') format('woff2'),
			url('../assets/fonts/Facundo-Regular.woff') format('woff'),
			url('../assets/fonts/Facundo-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}